@model AdminMoviesModelEdit
<form asp-action="movieUpdate" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            <div asp-validation-summary="All"></div>
            <input type="hidden" name="MovieId" value="@Model.MovieId">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class=" text-danger"></span>

            </div>

            <input type="hidden" name="ImageUrl" value="@Model.ImageUrl">
            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" name="file" id="formFile">
            </div>

            <button type="submit" class="btn btn-primary">kaydet</button>
        </div>
        <div class="col-md-4">
            @if (ViewBag.Genres != null)
            {
               @foreach (var item in ViewBag.Genres)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="genreids" value="@item.GenreId" id="@item.GenreId"
                        @( Model.GenreIds!=null? Model.GenreIds.Any(g => g == item.GenreId) ? "checked" : "":"")>
                        <label class="form-check-label" for="@item.GenreId">
                            @item.Name
                        </label>
                    </div>
                }
            }
            <span asp-validation-for="GenreIds"></span>
            <hr>
            <img src="~/img/@Model.ImageUrl">
        </div>
    </div>

</form>
